body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff3cb;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    background-color: #d7faf1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

h1 {
    color: #0a0a00;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #080808;
    background-color: #faee02;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ebd973;
}

.mcqueen {
    width: 200px;
    margin-top: 20px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff369;
    transform: rotate(45deg);
    animation: float 5s infinite;
    z-index: 1;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff369;
    border-radius: 50%;
}

.heart::before {
    top: -25px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -25px;
}

.hearts-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
